<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="OdataServiceUri" value="http://uiis-1:10002/data" />
  </appSettings>
  <connectionStrings>
    <add name="EpriceConnectionString" connectionString="Data Source=usql-1;Initial Catalog=e_price;Timeout=10000;Persist Security Info=True;User ID=sqlUnit_prog;Password=1qazXSW@" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceSoapBinding" maxReceivedMessageSize="99999999" sendTimeout="00:10:00">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceSoapBinding1" maxReceivedMessageSize="99999999" sendTimeout="00:10:00" />
                <binding name="B2BWebServiceSoap" maxReceivedMessageSize="99999999" sendTimeout="00:10:00">
                    <security mode="Transport" />
                </binding>
                <binding name="B2BWebServiceSoap1" />
                <binding name="B2bPublicSoapBinding" maxReceivedMessageSize="99999999" />
                <binding name="B2BWebServiceSoap2" maxReceivedMessageSize="99999999">
                    <security mode="Transport" />
                </binding>
                <binding name="B2BWebServiceSoap3" />
                <binding name="MLBinding" maxReceivedMessageSize="99999999" sendTimeout="00:10:00">
                  <security mode="Transport">
                    <transport clientCredentialType="Basic" proxyCredentialType="Basic" />
                  </security>
                </binding>
                <binding name="MLBinding1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="B2bPublicSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://api.treolan.ru/webservices/treolan.ASP"
                binding="basicHttpBinding" bindingConfiguration="WebServiceSoapBinding"
                contract="TreolanDataService.WebServiceSoapPort" name="WebServiceSoapPort" />
            <endpoint address="https://api.treolan.ru/webservice2008/Service.asmx"
                binding="basicHttpBinding" bindingConfiguration="B2BWebServiceSoap"
                contract="TreolanProductService.B2BWebServiceSoap" name="B2BWebServiceSoap" />
            <endpoint address="http://83.136.30.148/Public/wserp.1cws" binding="basicHttpBinding"
                bindingConfiguration="B2bPublicSoapBinding" contract="OldiDataService.B2bPublicPortType"
                name="B2bPublicSoap" />
            <endpoint address="http://83.136.30.148/Public/wserp.1cws" binding="customBinding"
                bindingConfiguration="B2bPublicSoap12Binding" contract="OldiDataService.B2bPublicPortType"
                name="B2bPublicSoap12" />
            <endpoint address="https://b2bservice.ocs.ru/b2b.asmx" binding="basicHttpBinding"
                bindingConfiguration="B2BWebServiceSoap2" contract="OcsDataService.B2BWebServiceSoap"
                name="B2BWebServiceSoap1" />
            <endpoint address="https://api.merlion.com/dl/mlservice2" binding="basicHttpBinding"
                bindingConfiguration="MLBinding" contract="MerlionDataService.MLPort"
                name="MLPort" />
        </client>
    </system.serviceModel>
</configuration>